= simple_form_for @violation, :html => { :class => 'form-horizontal' } do |f|

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :address
    = f.input :violator_id

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), violations_path, :class => 'btn'
