= simple_form_for @violation, :html => { :class => 'form-horizontal', :multipart => true } do |f|

  - if current_user.nil?
    .well
      %h4
        %i.icon-bullhorn
        %span.text-info Hey! You're currently submitting as a guest! Why not
        = link_to "Login", new_user_session_path, :class => "btn"
        %span.text-info or
        = link_to "Sign Up", new_user_registration_path, :class => "btn"
      %h5 Creating an account has many perks:
      %ul
        %li Earn points and badges
        %li Prize packs for most submissions
        %li Notoriety in the #BikeTO community
        %li Stay up to date on MyBikeLane Toronto initiatives

  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description, :input_html => {:class => "span9", :rows => 5}
    .row
      .span6
        = f.input :address, :label => "Address or Major Intersections", :input_html => {:placeholder => "Yonge St. and Dundas St."}
        = f.input :city, :label => "GTA City", :selected => "Toronto", :collection => Violation::GTA_CITIES, :include_blank => false
        = f.input :latitude, :as => :hidden
        = f.input :longitude, :as => :hidden
      .span6
        %p
          %strong Address Preview
          %span#preview_map_updating.label.label-info{style: 'display:none;'} Updating...
        #preview_map.mapfix{style: 'height:250px;'}
    %p.lead Photographic Evidence
    = f.simple_fields_for :photos do |p|
      = render 'photo_fields', :f => p
    .links
      .controls
        = link_to_add_association 'Add another picture', f, :photos, :class => 'btn btn-primary'
    %p.lead Violator Information
    = f.input :license_plate, :as => :string, :label => "Offender's License Plate", :input_html => {autocomplete: "off", placeholder: "BHAM 244"}

    .control-group.organization{style: "display:none"}
      %label.text.control-label Organization
      .controls
        %p.name
    .control-group.organization-offences{style: "display:none"}
      %label.text.control-label Total Offences
      .controls
        %p.total

  = f.error :base

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), violations_path, :class => 'btn'
