= simple_form_for @violation, :html => { :class => 'form-horizontal', :multipart => true } do |f|

  - if current_user.nil?
    .well
      %h4
        %i.icon-bullhorn
        %span.text-info Hey! You're currently submitting as a guest! Why not
        = link_to "Login", new_user_session_path, :class => "btn"
        %span.text-info or
        = link_to "Sign Up", new_user_registration_path, :class => "btn"
      %h5 Creating an account has many perks:
      %ul
        %li Earn points and badges
        %li Prize packs for most submissions
        %li Notoriety in the #BikeTO community
        %li Stay up to date on MyBikeLane Toronto initiatives

  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description, :input_html => {:class => "span9", :rows => 5}
    = f.simple_fields_for :photos do |p|
      / = p.input :violation_id, :input_html => { :class => 'special' }
      / # = p.association :violation
      = p.input :image, :as => :image_preview, :input_html => {:preview_version => :thumb}
    = f.input :address, :label => "Address or Major Intersections", :input_html => {:placeholder => "Yonge St. and Dundas St."}
    = f.input :license_plate, :as => :string, :label => "Offender's License Plate", :input_html => {autocomplete: "off", placeholder: "BHAM 244"}

  = f.error :base

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), violations_path, :class => 'btn'
