.row
  .span12
    %h1 Listing violations

.row
  .span12
    %table.table
      %tr
        %th Title
        %th Description
        %th Address
        %th Violator
        %th
        %th
        %th

      - @violations.each do |violation|
        %tr
          %td= violation.title
          %td= violation.description
          %td= violation.address
          %td= violation.violator_id
          %td= link_to 'Show', violation
          %td= link_to 'Edit', edit_violation_path(violation)
          %td= link_to 'Destroy', violation, method: :delete, data: { confirm: 'Are you sure?' }
.row
  .span12
    .btn= link_to 'New Violation', new_violation_path
