/ = link_to t('.new', :default => t("helpers.links.new")), new_violation_path, :class => 'btn btn-primary'

.violations
  - @violations.each do |violation|
    .row.violation-row
      .span1
        .author
          - if violation.user.nil?
            = image_tag(avatar_url(violation.user, 63), :class => "anonymous-avatar")
          - else
            = link_to image_tag(avatar_url(violation.user, 65)), user_path(violation.user)
      .span11
        .violation-item.clearfix
          = link_to violation.title, violation_path(violation)
          =l violation.created_at, :format => :short
          - if current_user == violation.user
            .actions.pull-right
              = link_to "<i class='icon-pencil'></i> Edit".html_safe, edit_violation_path(violation), :class => 'btn btn-mini'
              = link_to "<strong>&times;</strong>".html_safe, violation_path(violation), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'