/ = link_to t('.new', :default => t("helpers.links.new")), new_violation_path, :class => 'btn btn-primary'

.violations
  - @violations.each do |violation|
    .row.violation-row
      .span1
        .author
          - if violation.user.nil?
            %a{:href => "#", :rel => "avatar-tooltip", :title => "Anonymous"}= image_tag(avatar_url(violation.user, 63), :class => "anonymous-avatar", :alt => "", :title => "")
          - else
            = link_to image_tag(avatar_url(violation.user, 65), :alt => "", :title => ""), user_path(violation.user), :rel => "avatar-tooltip", :title => violation.user.display_name(false)
      .span11
        .violation-item.clearfix
          %strong= link_to violation.title, violation_path(violation)
          - if current_user == violation.user
            .actions.pull-right
              = link_to "<i class='icon-pencil'></i> Edit".html_safe, edit_violation_path(violation), :class => 'btn btn-mini'
              %strong= link_to "<i class='icon-remove'></i>".html_safe, violation_path(violation), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'
          .pull-right.muted.date
            posted
            %a{:href => "#", :rel => "tooltip", :title => "#{violation.created_at}"}= time_ago_in_words violation.created_at
            ago