- @title = @violation.title

.page
  .row
    .span12
      .page-title.clearfix
        %p.lead.pull-left
          = @violation.title
          - if can? :update, @violation
            = link_to "<i class='icon-pencil'></i>".html_safe, edit_violation_path(@violation), :class => 'btn btn-mini'
          - if can? :destroy, @violation
            = link_to "<i class='icon-remove'></i>".html_safe, violation_path(@violation), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

        .pull-right.datestamp
          - if @violation.updated_at == @violation.created_at
            %span.muted= "posted #{l(@violation.updated_at)}"
          - else
            %span.muted{title: "last updated #{l(@violation.updated_at)}"}= "posted #{l(@violation.created_at)}"

          - if @violation.spammed == true
            - if can? :ham, @violation
              = link_to "<i class='icon-ok'></i> Unmark as Spam".html_safe, ham_violation_path(@violation), :title => 'unmark as spam', :class => 'btn btn-mini'
          - else
            - if can? :spam, @violation
              = link_to "<i class='icon-fire'></i> Spam".html_safe, spam_violation_path(@violation), :title => 'Mark as spam', :class => 'btn btn-mini'

          - if @violation.flagged == true
            .btn.btn-mini.disabled{:title => 'Flagged for review'}
              %i.icon-flag
              Flagged

          - else
            - if can? :flag, @violation
              = link_to "<i class='icon-flag'></i> Flag".html_safe, flag_violation_path(@violation), :title => 'Flag for review', :class => 'btn btn-mini'
      %hr.body-divider

  .row
    .span12
      #violationCarousel.carousel.slide
        .carousel-inner
          - @violation.photos.each_with_index do |photo,index|
            - if index == 0
              .item.active= image_tag photo.image, :class => 'img-polaroid'
            - else
              .item= image_tag photo.image, :class => 'img-polaroid'
        - if @violation.photos.count > 1
          %a.carousel-control.left{href: "#violationCarousel", data: {slide: "prev"}} &lsaquo;
          %a.carousel-control.right{href: "#violationCarousel", data: {slide: "next"}} &rsaquo;

  .row
    .span6
      #violation_map.mapfix
    .span6
      %dl.dl-horizontal
        %dt Address or Location
        %dd#violationAddress{data: {latitude: @violation.latitude, longitude: @violation.longitude}}= @violation.full_address
        %dt Time of Incident
        %dd
          - if @violation.time_of_incident.present?
            = @violation.time_of_incident
          - else
            %em.muted Unknown
        %dt License Plate
        %dd
          - if @violation.violator.present?
            = link_to @violation.violator.license, @violation.violator
          - else
            %em.muted Unknown
        - if @violation.violator.present?
          %dt Offender Organization
          %dd
            - if @violation.violator.organization.present?
              = link_to @violation.violator.organization.name, @violation.violator.organization
            - else
              %em.muted No Organization
          %dt Total Offences
          %dd= @violation.violator.violations.count
          - if @violation.violator.organization.present?
            %dd.muted
              = @violation.violator.organization.violations.count
              in organization


        %dt Submitted By
        - if @violation.user.present?
          %dd
            = link_to image_tag(avatar_url(@violation.user, 20), {class: "avatar-url"}), user_path(@violation.user)
            = link_to @violation.user.display_name, user_path(@violation.user)
        - else
          %dd
            %em.muted Anonymous
        %dt Votes
        %dd
          %strong
            = @violation.plusminus
            points
          %span.muted= "(#{@violation.votes_for} for / #{@violation.votes_against} against)"

  .violation-description
    .row
      .span12
        .bubble
          .page-body= @violation.description.present? ? @violation.description : "<em class='muted'>No description provided</em>".html_safe

  .disqus-section
    .row
      .span12

        %hr

        #disqus_thread
          %script{type:"text/javascript"}
            var disqus_shortname = 'mybikelanetoronto'; // required: replace example with your forum shortname
            = "var disqus_identifier = 'violation_#{@violation.id}';"
            = "var disqus_title = '#{@title}';"
            = "var disqus_url = '#{violation_url(@violation)}';"


            (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          %noscript
            Please enable JavaScript to view the
            %a{href:"http://disqus.com/?ref_noscript"} comments powered by Disqus.
