= simple_form_for @violator, :html => { :class => 'form-horizontal' } do |f|
  = f.input :license
  = f.input :description
  = f.input :violation_id
  = f.input :organization_id
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), violators_path, :class => 'btn'
