.page
  .row
    .span12
      .page-title.clearfix
        %p.lead.pull-left
          = @violator.license
          - if can? :update, @violator
            = link_to "<i class='icon-pencil'></i>".html_safe, edit_violator_path(@violator), :class => 'btn btn-mini'
          - if can? :destroy, @violator
            = link_to "<i class='icon-remove'></i>".html_safe, violator_path(@violator), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

        .pull-right.datestamp
          %span.muted= "first seen #{l(@violator.updated_at)}"

          / - if @violator.flagged == true
          /   .btn.btn-mini.disabled{:title => 'Flagged for review'}
          /     %i.icon-flag
          /     Flagged

          / - else
          /   - if can? :flag, @violator
          /     = link_to "<i class='icon-flag'></i> Flag".html_safe, flag_violator_path(@violator), :title => 'Flag for review', :class => 'btn btn-mini'
      %hr.body-divider

  .row
    .span12
      #violator_data{data: {json: render(template: "violators/show.json.rabl")}}
      #violator_map.mapfix

  .row
    .span6
      %dl.dl-horizontal
        %dt License Plate
        %dd= @violator.license
        %dt Offender Organization
        %dd
          - if @violator.organization.present?
            = link_to @violator.organization.name, @violator.organization
          - else
            %em.muted No Organization
    .span6
      %dl.dl-horizontal
        %dt First Reported By
        - @first_violation = @violator.violations.order('created_at').first
        - if @first_violation.user.present?
          %dd
            = link_to image_tag(avatar_url(@first_violation.user, 20), {class: "avatar-url"}), user_path(@first_violation.user)
            = link_to @first_violation.user.display_name, user_path(@first_violation.user)
        - else
          %dd
            %em.muted Anonymous

        %dt Total Offences
        %dd= @violator.violations.count
        - if @violator.organization.present?
          %dd.muted
            = @violator.organization.violations.count
            in organization

  .row
    .span12
      .bubble
        .page-body= @violator.description.present? ? @violator.description : "<em class='muted'>No description provided</em>".html_safe

  %hr

  .row
    .span12
      %h4 Recorded Violations
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Points
            %th Title
            %th Address
            %th When
        %tbody
          - @violator.violations.plusminus_tally.each do |violation|
            %tr
              %td= violation.plusminus
              %td= link_to violation.title, violation
              %td= violation.full_address
              %td
                %a{:href => "#", :rel => "tooltip", :title => "#{l(violation.created_at)}"}
                  = time_ago_in_words violation.created_at
                  ago

  .disqus-section
    .row
      .span12

        %hr

        #disqus_thread
          %script{type:"text/javascript"}
            var disqus_shortname = 'mybikelanetoronto'; // required: replace example with your forum shortname

            (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          %noscript
            Please enable JavaScript to view the
            %a{href:"http://disqus.com/?ref_noscript"} comments powered by Disqus.
