= simple_form_for @photo, :html => { :class => 'form-horizontal', :multipart => true } do |f|
  = f.input :title
  = f.input :description
  = f.input :image, :as => :file, :input_html => {:multiple => true, :name => 'photo[image]'}
  = f.input :violation_id
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), photos_path, :class => 'btn'
