!!!
%html{lang:"en"}
  %head
    %meta{content:"text/html; charset=UTF-8", http: {equiv: "Content-Type"}}
  %body
    %h1 Violation Flagged!
    - if @user.present?
      %p
        %strong= "From user: #{@user.display_name(false)}"

    %h3= link_to @violation.title, @violation
    %p= "(#{violation_url(@violation)})"