= simple_form_for Organization.new, :url => organizations_url(:format => :json), :remote => true, :html => { :style => 'margin-bottom: 0px' } do |f|
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#newOrgLabel Create New Organization
  .modal-body

    = f.input :name
    = f.input :description, :input_html => {:class => "span7", :rows => 5}

    = f.error :base

  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Nevermind
    = f.submit nil, :class => 'btn btn-primary'
