= simple_form_for @organization, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :description, :input_html => {:class => "span9", :rows => 5}
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), organizations_path, :class => 'btn'
