!!!
%html{lang:"en"}
  %head
    %meta{charset:"utf-8"}
    %title= page_title
    %meta{name:"viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name:"description", content:"Get out of my bike lane!"}
    %meta{name:"author", content:"Justin Bull"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAQOt7lg2Dvzq7gcj53m5ineovFvNhI74o&sensor=false"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    = render 'layouts/navbar'

    .container

      = render 'layouts/flashes'

      .row
        .span11.offset1
          %textarea#feedback{placeholder: 'What can I add to make this site better?'}
        .span4
          %button.btn.disabled#sendFeedback
            %i.icon-thumbs-up
            Send

      .row
        .span12
          = yield
        .span4
          .well.well-small
            %h3 Statistics
            %dl
              %dt Total Violations
              %dd= Violation.count
              %dt Pictures
              %dd= Photo.count
              %dt Violators
              %dd TODO
              %dt Total Users
              %dd= User.count


    = render 'layouts/footer'