!!!
%html{lang:"en"}
  %head
    %meta{charset:"utf-8"}
    %title MyBikeLane
    %meta{name:"viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name:"description", content:"Get out of my bike lane!"}
    %meta{name:"author", content:"Justin Bull"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    = render 'layouts/navbar'

    .container

      = render 'layouts/flashes'

      .row
        .span8.offset2
          = yield

    = render 'layouts/footer'